.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 20rem 1fr auto;
  grid-template-columns: 45rem 1fr 1fr 1fr 45rem;

  grid-template-areas:
    "header header header header header"
    "image image image image image"
    ". content content content ."
    "footer footer footer footer footer";
}

.imgContainer {
  background: url("https://images.unsplash.com/photo-1506508618093-6fe5ce3def4c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
  grid-area: image;
}
@media screen and (max-width: 1920px) {
  .container {
    grid-template-columns: 25rem 1fr 1fr 1fr 25rem;
  }
}
@media screen and (max-width: 1800px) {
  .container {
    grid-template-columns: 15rem 1fr 1fr 1fr 15rem;
  }
}
@media screen and (max-width: 1490px) {
  .container {
    grid-template-columns: 8rem 1fr 1fr 1fr 8rem;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 3rem 1fr 1fr 1fr 3rem;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 5rem 1fr auto;
    grid-template-areas:
      "header"
      "image"
      "content"
      "footer";
  }
}
