.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 40rem 1fr 1fr 40rem;
  grid-template-rows: auto 25rem auto 1fr auto;
  grid-template-areas:
    "header header header header"
    "image image image image"
    ". head head ."
    "content content content content"
    "footer footer footer footer";
}

.head {
  grid-area: head;
  justify-self: center;
  margin: 4rem 4rem -4rem 4rem;
}
.headerContainer {
  grid-area: header;
}
.imageContainer {
  grid-area: image;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/reserve/K9PZheO1RSiNMMP1ptsl_wood.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: 50%;
  width: 100%;
}
.imageContainerService {
  grid-area: image;
  background: url("https://lh3.googleusercontent.com/pw/ACtC-3cW3ZBHYb4m7VsjYDc8JClDj46kPpLaqO1ucK1bmbT5jgHrnO8Tmei3PSXq4uOysfWi8PZ6BS_2usCkaxMPbV8IHdeJa9w33Nm-_qqXJ9_9YygRvMDaEAtxg3GKrJFtcx_6Yj5FmYPVV4EIvKMb-y0=w1440-h1080-no?authuser=0");
  background-size: cover;
  background-position: 0 85%;
}
.contentContainer {
  grid-area: content;
}
.footerContainer {
  grid-area: footer;
}
@media screen and (max-width: 1990px) {
  .container {
    grid-template-columns: 25rem 1fr 1fr 25rem;
    grid-template-rows: auto 20rem auto 1fr auto;
  }
}
@media screen and (max-width: 1800px) {
  .head {
    margin: 6rem 0rem 0rem 0rem;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    grid-template-columns: 15rem 1fr 1fr 15rem;
    grid-template-rows: auto 15rem auto 1fr auto;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 3rem 1fr 1fr 3rem;
    grid-template-rows: auto 15rem auto 1fr auto;
  }
  .head {
    margin: 2rem 0 -4rem 0;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1rem 1fr 1fr 1rem;
    grid-template-rows: auto 8rem auto 1fr auto;
  }
  .head {
    margin: 2rem 0 -5rem 0;
  }
}
